<h2>
    <i class="fas fa-map-marker-alt"></i>
    <%= @location[:title] %>
</h2>
<h2>Leave a comment on <%= @location[:title] %></h2>

<form action="/location/<%= @location[:id] %>/suggestions/create" method="post">
    <div class="form-group">
        <label>What suggestions would you make for this vacationer?</label>
        <textarea class="form-control" rows="5" name="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>