<h1>RememberVacay</h1>

<h3>Remember your favorite trips! Log them here.</h3>

<% for location in @vacations %>
    <p><a href="/location/<%= location[:id] %>"><%= location[:title] %></a></p>
<% end %>