<h1>VacaySuggest</h1>

<h3>Here are my planned trips -- help me with suggestions!</h3>

<% for location in @vacations %>
    <p><a href="/location/<%= location[:id] %>"><%= location[:title] %></a></p>
<% end %>